@using unitConverter.Client.Models.Distance

<div id="fromImperial">
    <div class="form-group">
        <label for="Miles">Miles</label>
        <InputNumber id="Miles" @bind-Value="distanceUnitModel.ImperialUnits.Miles" class="form-control" />

        <label for="Yards">Yards</label>
        <InputNumber id="Yards" @bind-Value="distanceUnitModel.ImperialUnits.Yards" class="form-control" />

        <label for="Feet">Feet</label>
        <InputNumber id="Feet" @bind-Value="distanceUnitModel.ImperialUnits.Feet" class="form-control" />

        <label for="Inches">Inches</label>
        <InputNumber id="Inches" @bind-Value="distanceUnitModel.ImperialUnits.Inches" class="form-control" />
    </div>
</div>

@code {
    [Parameter] public DistanceModel? distanceUnitModel { get; set; }
}
